//SASS VARIABLES
$link-bg: #EEE;
$link-ccc: #CCC;
$mn-c: #999;
$pur:#CCD;
$must:#B8860B;
$links-w-hover: #ffffff;
$link-y-hover: #333;
$links-p: #000;
$links-p-hover: #B8860B;
$links-m-hover: #666;
$links-d-hover: #666;
$yellow-hover: #FFD700;
$bg-black:#212121;
$bg-c: #FFF;
$blue-hover: #4169E1;


